$color1:red;
$color2:darken($color1,20%);


.header {
	h1 {
		color: $color1;
	}
}

.main {
	h1 {
		color: $color2;
	}
}

[class*="grid-"] {
	display: flex;
	flex-wrap: wrap;
}

@for $i from 2 through 12 {
	.grid-#{$i}>* {
		width: 100%/$i;
	}
}
