.container-1 {
  width: 1100px;
  margin: 0 auto; }

* {
  box-sizing: border-box; }

.clearfix {
  content: "";
  display: flex;
  clear: both; }

header {
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center; }

.bandeau {
  text-align: center;
  background-color: rgba(134, 157, 43, 0.5);
  font-size: 16px;
  font-family: "Open Sans";
  color: white;
  padding: 1em; }

.promo {
  width: 10em;
  height: 10em;
  float: right;
  margin-top: -5em; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center; }

.home {
  float: left; }

.panier {
  font-size: 16px;
  align-items: baseline;
  color: white;
  font-family: "Open Sans";
  text-align: right;
  padding-top: 2em; }

.btn:not(:disabled):not(.disabled) {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 1px solid white;
  color: white; }

.nav {
  padding-top: 1em;
  padding-bottom: 1em; }

.nav-item {
  color: white !important;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 16px; }

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.2); }

main {
  background-color: #dfdfdf; }

.pub {
  text-align: center; }

.pub img {
  width: 100%; }

h1 {
  color: #94af2e;
  font-size: 40px;
  font-family: "Amaranth";
  padding: 1em; }

.cde {
  padding: 1em; }

/* SLIDER */
.slider {
  padding: 10px;
  margin-bottom: 5em; }

.flexslider {
  margin: 0;
  border: 0; }

.thes {
  background-color: #ffffff; }

h2 {
  text-align: center;
  color: #94af2e;
  font-size: 25px;
  font-family: "Amaranth";
  padding: 1em;
  position: relative;
  z-index: 1; }

h2::before, h2::after {
  border-top: 1px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1; }

.fond {
  background: #fff;
  padding: 0 15px; }

.row {
  justify-content: space-between; }

.thes p {
  font-family: "Open Sans";
  font-size: 16px;
  padding-right: 1em; }

.button {
  text-transform: uppercase;
  color: white;
  background-color: #aa827b;
  padding: 1em;
  border: none; }

.produits article {
  text-align: center;
  padding: 1em; }

.produits h3 {
  font-size: 20px;
  font-family: "Amaranth"; }

.produits {
  display: inline-flex;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: white; }

.produits p span {
  font-weight: bold;
  font-size: 24px;
  font-family: "Amaranth"; }

footer {
  background-image: url(img/bg.jpg);
  background-size: cover; }

footer > nav > a {
  display: inline-flex;
  flex-direction: column;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 2em 9em; }

footer > nav > a:hover {
  color: white;
  text-decoration: none; }

footer > nav {
  background-color: rgba(134, 157, 43, 0.5); }

.col-4 {
  color: white;
  font-family: "Amaranth";
  font-size: 25px; }

.row-1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 2em; }

.nav-link, .nav-link:hover {
  color: white; }

@media screen and (max-width: 480px) {
  .container-1 {
    width: auto;
    height: auto; }

  .entete {
    display: flex;
    align-items: flex-end; }

  .hidden {
    font-size: 0; }

  .promo {
    display: none; }

  .menu {
    display: block; }

  .panier {
    margin-left: -12em;
    margin-bottom: 5em; }

  .produits {
    display: block; }

  .row-1 {
    display: block; }

  .col-4 {
    max-width: 100%;
    flex: none; } }

/*# sourceMappingURL=home.css.map */
