@import url(business.css);

.about:hover, .about:active, .about:visited {
	background-color: #2F54FF;
	color: #ffffff;
}

.about {
	background-color: #2F54FF;
}

header h1 {
	background-color: #2F54FF;
}

header p span {
	color: #2F54FF;
}

.color_1 {
	color: #008EBA;
}

.color_2 {
	color: #004FC2;
}

.color_3 {
	color: #008EBA;
}

.article a {
	color: #00B4B4;
}

.subscribe {
	background-color: #008EBA;
}

button {
	background-color: #009E9E;
}

.bandeau_3 ul > li > a {
	color: #00B4B4;
}

.solution > a, .services > a, .press > a {
	color: #5BD3FF;
}

.color_4 {
	color: #00B4B4;
}